
.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Shared styles */
.display-flex{
    display: flex;
}
.text-gray{
    color: #424242;
    /* dark 02 */
}
.text-light-gray{
    color: #727272;
    /* dark 03 */
}
.primary-btn{
    background-color: #FF900E;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 21px 25px;
    border: none;
    font-weight: 600;
    font-size: 1.25rem;
}
main > section{
    margin-top: 130px;
}
.section-title{
    font-size: 2.8rem;
    margin-bottom: 24px;
}
/* header styles */
header{
     background-color: rgba(255, 144, 14, 0.1);
}
/* nav styles */
.nav-items{
    list-style: none;   
}
.brand{
    color: #131313;
    font-size: 45px;
    font-weight: 2.8rem;
}
.nav-link{
    text-decoration: none;
    /* margin-right: 30px; */
}
.nav-links{
    gap: 30px;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related styles */
.banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4em;
    font-weight: 700;
    color: #131313;
}
.banner img{
    width: 100%;
}
/* team and feature related styles */
.teams{
    align-items: center;
    gap: 73px;
}
.team-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features , #fact-text{
    max-width: 530px;
}

#quick-list{
    font-weight: 500;
}
#of-our{
    font-weight: 700;
    color: #131313;
}
#features{
    font-weight: 700;
    color: #FF900E;
}
.feature-description{
    margin-bottom: 32px;
}

/* some facts related sections */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 124px; */
}
.fact{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}
/* responsive section */
/* for small screen like mobile devices */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links, 
    .teams{
        flex-direction: column;
    }
    .team-images{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        text-align: center;
    }
    /* .teams{
        flex-direction: column-reverse;
    } */
    .facts-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
        
    }

}
/*  for medium screen devices*/
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
}