
.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Shared styles */
.display-flex{
    display: flex;
}
.text-gray{
    color: #424242;
    /* dark 02 */
}
.text-light-gray{
    color: #727272;
    /* dark 03 */
}
.primary-btn{
    background-color: #FF900E;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 21px 25px;
    border: none;
    font-weight: 600;
    font-size: 1.25rem;
}
/* header styles */
header{
     background-color: rgba(255, 144, 14, 0.1);
}
/* nav styles */
.nav-items{
    list-style: none;   
}
.brand{
    color: #131313;
    font-size: 45px;
    font-weight: 2.8rem;
}
.nav-link{
    text-decoration: none;
    /* margin-right: 30px; */
}
.nav-links{
    gap: 30px;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related styles */
.banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4em;
    font-weight: 700;
    color: #131313;
}
.banner img{
    width: 100%;
}
/* responsive section */
@media screen and (max-width: 576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
}